/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1 > p{
    padding-bottom: 1em;
    text-shadow: 1px 1px 2px rgb(107, 65, 72);
}
.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(153deg, rgb(49, 44, 44) 2%, rgba(77, 65, 65, 0.92) 23%, rgba(52, 46, 68, 0.88) 58%, rgba(16, 16, 22, 0.96) 100%);
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(17, 16, 16);
    border-radius: 10px;
    background-color: rgb(167, 167, 167);
    width: 22em;
    height: 30em;
    padding: 10px;
    gap: 4px;
    box-shadow: 0px 0px 2px 2px rgba(17, 0, 114, 0.918),
                0px 0px 4px 4px rgba(168, 0, 0, 0.87),
                0px 0px 6px 6px rgb(248, 216, 31);
}

.displaycontainer {
    text-align: end;
    border: 1px solid rgb(17, 16, 16); 
    min-height: 3em;
    background-color: rgb(218, 218, 218);
    border-radius: 2px;
}

.eqndisplay {
    vertical-align: middle;
    height: 1em;
    font-size: 1em;
}

.display {
    vertical-align: middle;
    font-size: 2.5rem;
    padding: 4px;
}

.btnrow {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 2px;
}

.clearrow {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    gap: 2px;
}

button {
    flex-basis: 25%;
    min-height: 100%;
    border-radius: 4px;
}

button:focus-visible {
    outline: none
}

.buttons {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-evenly;
    gap: 3px;
}

.digit {
    background-color: rgb(211, 211, 211);
}

.operator, .decimal, .clear, .equals, .backspace, .clearEntry, .negate {
    background-color: rgb(230, 230, 230);
}